/*reset*/
* {
  margin: 0;
  padding: 0;
  color: rgb(9, 54, 90);
  font-family: "Work Sans", sans-serif;
}

.container {
  margin: 0;
  padding: 0;
  max-width: 1440;
}

/*Condiciones basicas Body*/
body {
  font-size: 18px;
  background-image: url(../Imagenes/fondo2.jpg);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  color: rgb(9, 54, 90);
}

/*estilo titulares*/
h3 {
  padding-bottom: 1cm;
  text-align: center;
}

#container1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-flow: column wrap-reverse;
}

/*Condiciones Header*/
header {
  width: 100vw;
  color: rgb(9, 54, 90);
}

#container1 main {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
#container1 main div {
  display: inline-block;
  vertical-align: middle;
}

#container1 main .text h1 {
  font-size: 80px;
  color: rgb(9, 54, 90);
}

a #logo {
  animation-name: logo;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}

@keyframes logo {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

/*Condiciones Menu*/
.nav-item .nav-link {
  font-family: "Work Sans", sans-serif;
  font-weight: bolder;
  color: rgb(9, 54, 90);
  font-size: larger;
}
.dropdown-menu {
  background-image: url(../Imagenes/fondo2.jpg);
  background-position: center center;
}

.dropdown-menu .dropdown-item {
  font-family: "Work Sans", sans-serif;
  font-size: 120%;
}

/*Condiciones Links*/
body a:active {
  color: rgb(9, 54, 90);
  text-decoration: none;
}

body a:visited {
  color: rgb(9, 54, 90);
  text-decoration: none;
}

/*Condiciones Footer*/
footer {
  padding: 1cm;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  font-size: larger;
}

footer #pie ul li a {
  text-decoration: none;
}

#pie ul a:hover li {
  text-decoration: underline;
}

footer #pie ul li {
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  color: rgb(9, 54, 90);
}
