/*Primera Seccion*/
#grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "blank table blank";
  padding: 0;
}

aside #blank {
  grid-area: blank;
}

table #table {
  grid-area: table;
  padding: 0;
  margin: 0;
}

section img:hover {
  transform: scale(1.5, 1.5);
}

/*Newsletter*/
form {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  color: rgb(9, 54, 90);
}

.cuadro {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  color: rgb(9, 54, 90);
  border: 1px solid rgb(9, 54, 90);
  margin: 2cm;
  padding: 2cm 3cm 2cm 3cm;
}

.form-row {
  justify-content: center;
}

#box {
  border: solid grey;
  box-sizing: border-box;
  padding: 1cm;
}
#box div {
  padding: 0.3mm;
}

#botones {
  color: rgb(9, 54, 90);
  font-weight: bolder;
  font-family: "Work Sans", sans-serif;
}
