/*Primera Seccion*/
#container1 section h4 {
  font-size: 23px;
  font-family: "Work Sans", sans-serif;
}

#container1 section p {
  padding: 15px 0;
  line-height: 32px;
  font-family: "Work Sans", sans-serif;
}

.info {
  padding: 5cm;
  padding-top: 0cm;
  padding-bottom: 0cm;
}

.info p {
  text-align: justify;
}

section div {
  padding-bottom: 2cm;
}

#grilla {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: "blank table blank";
  padding: 0;
}

aside #blank {
  grid-area: blank;
}

table #table {
  grid-area: table;
  padding: 0;
  margin: 0;
}

#container1 .tabla {
  align-items: center;
  margin: auto;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
}

#container1 .tabla tr {
  align-items: center;
  margin: auto;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  padding-top: 5cm;
}

#container1 .viaje th {
  align-items: center;
  margin: auto;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  border-collapse: separate;
  border: gray 5px solid;
}

#container1 .viaje td {
  align-items: center;
  margin: auto;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  border-collapse: separate;
  border: gray 5px solid;
}

#tabla2 ul li {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  padding: 0%;
  margin: 0%;
  color: rgb(9, 54, 90);
  text-decoration: none;
  list-style: none;
  text-align: center;
}
