.container-fluid main h1 {
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
}

.container-fluid main h3 {
  text-align: center;
  padding: 0.5cm;
  font-weight: 600;
}

.container-fluid main section h4 {
  padding-top: 1cm;
  padding-bottom: 1cm;
  font-weight: bold;
  text-align: center;
  font-style: oblique;
}

.container-fluid main section .row {
  margin-left: 0cm;
  margin-right: 0cm;
}

.container-fluid main section .row .centro {
  padding-right: 0cm;
  padding-left: 0cm;
  margin-right: 0cm;
  margin-left: 0cm;
}

.container-fluid main section .row .centro .table__img-fluid {
  padding-left: 0cm;
  padding-right: 0cm;
}

.container-fluid main section .row .lateral {
  padding-right: 0cm;
  padding-left: 0cm;
  margin-right: 0cm;
  margin-left: 0cm;
}

.container-fluid main section img:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  opacity: 90%;
}

.container-fluid main section img {
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.container-fluid main form .form-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-fluid main form .form-row .form__cuadro {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  color: #09365a;
  border: 1px solid #09365a;
  margin: 2cm;
  padding: 2cm 3cm 2cm 3cm;
}

.container-fluid main form .form-row .form__cuadro .form-group {
  padding: 0.1cm;
  margin: 0.4cm;
}

@media (max-width: 577px) {
  .container-fluid .main__index h1 {
    font-size: 35px;
  }
  .container-fluid .main__index h3 {
    font-size: 23.33333px;
  }
  .container-fluid .main__index section h4 {
    font-size: 17.5px;
  }
  .container-fluid .main__index section .table__img-fluid {
    height: 70px;
    width: 120px;
  }
  .container-fluid .main__index section form {
    padding: 0.5cm;
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
  }
  .container-fluid .main__index section form .form-row {
    padding: 0.5cm;
  }
  .container-fluid .main__index section form .form-row .form__cuadro {
    margin: 1cm;
    padding: 0.5cm;
  }
  .container-fluid .main__index section form .form-row .form__cuadro h3 {
    font-size: 15px;
    padding: 0.5cm;
  }
  .container-fluid .main__index section form .form-row .form__cuadro .form-group {
    padding: 0cm;
  }
  .container-fluid .main__index section form .form-row .form__cuadro .form-group .form-control {
    padding: 0cm;
  }
}

@media (min-width: 578px) {
  .container-fluid .main__index h1 {
    font-size: 46.66667px;
  }
  .container-fluid .main__index h3 {
    font-size: 28px;
  }
  .container-fluid .main__index section h4 {
    font-size: 17.5px;
  }
  .container-fluid .main__index section .table__img-fluid {
    height: 100px;
    width: 150px;
  }
  .container-fluid .main__index section form {
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
  }
  .container-fluid .main__index section form .form-row {
    padding: 0cm;
  }
  .container-fluid .main__index section form .form-row h3 {
    font-size: 20px;
    padding: 0cm;
  }
  .container-fluid .main__index section form .form-row .form-group {
    padding: 0cm;
  }
  .container-fluid .main__index section form .form-row .form-group .form-control {
    padding: 0cm;
  }
}

@media (min-width: 768px) {
  .container-fluid .main__index h1 {
    font-size: 53.84615px;
  }
  .container-fluid .main__index h3 {
    font-size: 28px;
  }
  .container-fluid .main__index section h4 {
    font-size: 23.33333px;
  }
  .container-fluid .main__index section .table__img-fluid {
    height: 150px;
    width: 200px;
  }
  .container-fluid .main__index section form {
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
  }
  .container-fluid .main__index section form .form-row h3 {
    font-size: 23.33333px;
    padding: 0cm;
  }
  .container-fluid .main__index section form .form-row .form-group {
    padding: 0cm;
  }
  .container-fluid .main__index section form .form-row .form-group .form-control {
    padding: 0cm;
  }
}

@media (min-width: 1024px) {
  .container-fluid .main__index h1 {
    font-size: 70px;
  }
  .container-fluid .main__index h3 {
    font-size: 35px;
  }
  .container-fluid .main__index section h4 {
    font-size: 28px;
    padding-bottom: 2cm;
  }
  .container-fluid .main__index section .table__img-fluid {
    height: 200px;
    width: 250px;
  }
  .container-fluid .main__index section form {
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
  }
  .container-fluid .main__index section form .form-row h3 {
    font-size: 28px;
    padding: 1cm;
  }
  .container-fluid .main__index section form .form-row .form-group .form-control {
    padding: 0.3cm;
  }
}

@media (min-width: 1440px) {
  .container-fluid .main__index h1 {
    font-size: 105px;
  }
  .container-fluid .main__index h3 {
    font-size: 58.33333px;
    font-weight: 400;
  }
  .container-fluid .main__index section h4 {
    font-size: 46.66667px;
  }
  .container-fluid .main__index section .table__img-fluid {
    height: 300px;
    width: 350px;
  }
  .container-fluid .main__index section form {
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
  }
  .container-fluid .main__index section form .form-row h3 {
    font-size: 46.66667px;
    padding: 1cm;
  }
  .container-fluid .main__index section form .form-row .form-group .form-control {
    padding: 0.4cm;
  }
}

.container-fluid .main__nosotros h1 {
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
}

.container-fluid .main__nosotros h3 {
  text-align: center;
  padding: 0.5cm;
  font-weight: 600;
}

.container-fluid .main__nosotros section h4 {
  font-weight: bold;
  text-align: center;
  font-style: oblique;
}

.container-fluid .main__nosotros .accordion {
  padding-top: 2cm;
}

.container-fluid .main__nosotros .accordion .accordion-item {
  background-color: #e6e6e6;
  color: #09365a;
  font-size: 23.33333px;
}

.container-fluid .main__nosotros .accordion .accordion-item .accordion-header__title button {
  font-size: 35px;
  color: #09365a;
  font-weight: 600;
  background-image: url(../Imagenes/fondo2.jpg);
  background-position: bottom left;
}

.container-fluid .main__nosotros .section-big {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (250px)[3];
      grid-template-rows: repeat(3, 250px);
      grid-template-areas: "Q1 Q1" "Q2 Q2" "Q3 Q3";
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.container-fluid .main__nosotros .section-big #uno {
  margin: 1cm;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: Q1;
}

.container-fluid .main__nosotros .section-big #uno h4 {
  border: 1px solid #09365a;
  padding: 0.2cm;
}

.container-fluid .main__nosotros .section-big #uno p {
  border: 1px solid #09365a;
  padding: 0.2cm;
}

.container-fluid .main__nosotros .section-big #dos {
  margin: 1cm;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: Q2;
}

.container-fluid .main__nosotros .section-big #dos h4 {
  border: 1px solid #09365a;
  padding: 0.2cm;
}

.container-fluid .main__nosotros .section-big #dos p {
  border: 1px solid #09365a;
  padding: 0.2cm;
}

.container-fluid .main__nosotros .section-big #tres {
  margin: 1cm;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: Q3;
}

.container-fluid .main__nosotros .section-big #tres h4 {
  border: 1px solid #09365a;
  padding: 0.2cm;
}

.container-fluid .main__nosotros .section-big #tres p {
  border: 1px solid #09365a;
  padding: 0.2cm;
}

.container-fluid .main__nosotros .section-big p {
  text-align: justify;
}

.container-fluid .main__nosotros .section__final {
  text-align: center;
  font-size: 46.66667px;
  padding: 0cm;
  margin: 0cm;
}

@media (max-width: 577px) {
  .container-fluid .main__nosotros h1 {
    font-size: 35px;
  }
  .container-fluid .main__nosotros h3 {
    font-size: 23.33333px;
  }
  .container-fluid .main__nosotros .section-small .accordion {
    padding: 0.5cm;
  }
  .container-fluid .main__nosotros .section-small .accordion .accordion-header__title .accordion-button {
    font-size: 20px;
  }
  .container-fluid .main__nosotros .section-small .accordion .accordion-body__text {
    font-size: 15.55556px;
  }
  .container-fluid .main__nosotros .section-big {
    display: none;
  }
  .container-fluid .main__nosotros .section__final {
    font-size: 23.33333px;
    padding: 1.75cm;
    margin: 0;
  }
}

@media (min-width: 578px) {
  .container-fluid .main__nosotros h1 {
    font-size: 46.66667px;
  }
  .container-fluid .main__nosotros h3 {
    font-size: 23.33333px;
  }
  .container-fluid .main__nosotros .section-small .accordion {
    padding: 0.8cm;
  }
  .container-fluid .main__nosotros .section-small .accordion .accordion-header__title .accordion-button {
    font-size: 20px;
  }
  .container-fluid .main__nosotros .section-small .accordion .accordion-body__text {
    font-size: 15.55556px;
  }
  .container-fluid .main__nosotros .section-big {
    display: none;
  }
  .container-fluid .main__nosotros .section__final {
    font-size: 28px;
    padding: 1cm;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .container-fluid .main__nosotros h1 {
    font-size: 53.84615px;
  }
  .container-fluid .main__nosotros h3 {
    font-size: 28px;
  }
  .container-fluid .main__nosotros .section-small .accordion .accordion-header__title .accordion-button {
    font-size: 23.33333px;
  }
  .container-fluid .main__nosotros .section-big {
    display: none;
  }
  .container-fluid .main__nosotros .section__final {
    font-size: 35px;
    padding: 1.5cm;
  }
}

@media (min-width: 1024px) {
  .container-fluid .main__nosotros h1 {
    font-size: 70px;
  }
  .container-fluid .main__nosotros h3 {
    font-size: 35px;
  }
  .container-fluid .main__nosotros .accordion {
    display: none;
  }
  .container-fluid .main__nosotros .section-big {
    display: -ms-grid;
    display: grid;
    padding: 0.5cm;
  }
  .container-fluid .main__nosotros .section-big h4 {
    font-size: 23.33333px;
  }
  .container-fluid .main__nosotros .section-big p {
    font-size: 20px;
  }
  .container-fluid .main__nosotros .section__final {
    font-size: 46.66667px;
    padding: 2cm;
  }
}

@media (min-width: 1440px) {
  .container-fluid .main__nosotros h1 {
    font-size: 105px;
  }
  .container-fluid .main__nosotros h3 {
    font-size: 70px;
    font-weight: 400;
  }
  .container-fluid .main__nosotros .accordion {
    display: none;
  }
  .container-fluid .main__nosotros .section-big {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (250px)[3];
        grid-template-rows: repeat(3, 250px);
  }
  .container-fluid .main__nosotros .section-big h4 {
    font-size: 28px;
  }
  .container-fluid .main__nosotros .section-big p {
    font-size: 23.33333px;
  }
  .container-fluid .main__nosotros .section__final {
    font-size: 46.66667px;
    padding: 1.5cm;
  }
}

.main__viajes h1 {
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
}

.main__viajes h3 {
  text-align: center;
  padding: 0.5cm;
  font-weight: 600;
}

.main__viajes .section__intro {
  padding: 5cm;
  padding-top: 0cm;
  padding-bottom: 0cm;
}

.main__viajes .section__intro h4 {
  font-size: 28px;
}

.main__viajes .section__intro p {
  text-align: justify;
  font-size: 23.33333px;
}

.main__viajes .section__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto 20%;
      grid-template-columns: 20% auto 20%;
      grid-template-areas: "blank table blank";
  padding: 1cm;
  margin: 0;
}

.main__viajes .section__main aside #blank {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: blank;
}

.main__viajes .section__main table #table {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: table;
  padding: 0;
  margin: 0;
}

.main__viajes .section__main .carousel .carousel-item .btn a {
  color: white;
}

@media (max-width: 577px) {
  .container-fluid .main__viajes h1 {
    font-size: 35px;
  }
  .container-fluid .main__viajes h3 {
    font-size: 23.33333px;
    margin: 0cm;
  }
  .container-fluid .main__viajes .section__intro {
    padding: 0.5cm;
  }
  .container-fluid .main__viajes .section__intro h4 {
    font-size: 20px;
    padding: 0;
    padding-bottom: 0.5cm;
  }
  .container-fluid .main__viajes .section__intro p {
    font-size: 15.55556px;
  }
  .container-fluid .main__viajes .section__main {
    padding: 0.3cm;
  }
}

@media (min-width: 578px) {
  .container-fluid .main__viajes h1 {
    font-size: 35px;
  }
  .container-fluid .main__viajes h3 {
    font-size: 23.33333px;
    margin: 0cm;
  }
  .container-fluid .main__viajes .section__intro {
    padding: 0.5cm;
  }
  .container-fluid .main__viajes .section__intro h4 {
    font-size: 20px;
    padding: 0;
    padding-bottom: 0.5cm;
  }
  .container-fluid .main__viajes .section__intro p {
    font-size: 15.55556px;
  }
  .container-fluid .main__viajes .section__main {
    padding: 0.5cm;
  }
}

@media (min-width: 768px) {
  .container-fluid .main__viajes h1 {
    font-size: 53.84615px;
  }
  .container-fluid .main__viajes h3 {
    font-size: 28px;
  }
  .container-fluid .main__viajes .section__intro {
    padding: 0.5cm;
  }
  .container-fluid .main__viajes .section__intro h4 {
    font-size: 23.33333px;
  }
  .container-fluid .main__viajes .section__intro p {
    font-size: 17.5px;
  }
  .container-fluid .main__viajes .section__main {
    padding: 0.5cm;
  }
}

@media (min-width: 1024px) {
  .container-fluid .main__viajes h1 {
    font-size: 70px;
  }
  .container-fluid .main__viajes h3 {
    font-size: 35px;
  }
  .container-fluid .main__viajes .section__intro {
    padding: 1cm 3cm 1cm 3cm;
  }
  .container-fluid .main__viajes .section__intro h4 {
    font-size: 28px;
  }
  .container-fluid .main__viajes .section__intro p {
    font-size: 23.33333px;
  }
  .container-fluid .main__viajes .section__main {
    padding-bottom: 0.5cm;
  }
  .container-fluid .main__viajes .section__main .carousel .carousel-item .btn a {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .container-fluid .main__viajes h1 {
    font-size: 105px;
  }
  .container-fluid .main__viajes h3 {
    font-size: 46.66667px;
  }
  .container-fluid .main__viajes .section__intro {
    padding: 1cm 3cm 1cm 3cm;
  }
  .container-fluid .main__viajes .section__intro h4 {
    font-size: 28px;
  }
  .container-fluid .main__viajes .section__intro p {
    font-size: 23.33333px;
  }
  .container-fluid .main__viajes .section__main {
    padding-bottom: 0.5cm;
  }
}

.container-fluid .main__tt h1 {
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
}

.container-fluid .main__tt h3 {
  text-align: center;
  padding: 0.5cm;
  font-weight: 600;
}

.container-fluid .main__tt section h4 {
  font-weight: bold;
  text-align: center;
  font-style: oblique;
}

.container-fluid .main__tt .accordion {
  padding-top: 2cm;
}

.container-fluid .main__tt .accordion .accordion-item {
  background-color: #e6e6e6;
  color: #09365a;
  font-size: 23.33333px;
}

.container-fluid .main__tt .accordion .accordion-item .accordion-header__title button {
  font-size: 35px;
  color: #09365a;
  font-weight: 600;
  background-image: url(../Imagenes/fondo2.jpg);
  background-position: bottom left;
}

.container-fluid .main__tt .section-large {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (400px)[4];
      grid-template-rows: repeat(4, 400px);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "t1 t1 t1" "t2 t2 t2" "t3 t3 t3" "t4 t4 t4";
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.container-fluid .main__tt .section-large #viajar {
  margin: 1cm;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: t1;
}

.container-fluid .main__tt .section-large #viajar h4 {
  border: 1px solid #09365a;
  padding: 0.2cm;
}

.container-fluid .main__tt .section-large #viajar p {
  border: 1px solid #09365a;
  padding: 0.2cm;
}

.container-fluid .main__tt .section-large #hotel {
  margin: 1cm;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: t2;
}

.container-fluid .main__tt .section-large #hotel h4 {
  border: 1px solid #09365a;
  padding: 0.2cm;
}

.container-fluid .main__tt .section-large #hotel p {
  border: 1px solid #09365a;
  padding: 0.2cm;
}

.container-fluid .main__tt .section-large #itin {
  margin: 1cm;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: t3;
}

.container-fluid .main__tt .section-large #itin h4 {
  border: 1px solid #09365a;
  padding: 0.2cm;
}

.container-fluid .main__tt .section-large #itin p {
  border: 1px solid #09365a;
  padding: 0.2cm;
}

.container-fluid .main__tt .section-large #pres {
  margin: 1cm;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: t4;
}

.container-fluid .main__tt .section-large #pres h4 {
  border: 1px solid #09365a;
  padding: 0.2cm;
}

.container-fluid .main__tt .section-large #pres p {
  border: 1px solid #09365a;
  padding: 0.2cm;
}

.container-fluid .main__tt .section-large p {
  text-align: justify;
}

.container-fluid .main__tt .section_final {
  text-align: center;
  font-size: 46.66667px;
  padding: 0cm;
  margin: 0cm;
}

@media (max-width: 577px) {
  .container-fluid .main__tt h1 {
    font-size: 35px;
  }
  .container-fluid .main__tt h3 {
    font-size: 23.33333px;
  }
  .container-fluid .main__tt .section-small .accordion {
    padding: 0.5cm;
  }
  .container-fluid .main__tt .section-small .accordion .accordion-header__title .accordion-button {
    font-size: 20px;
  }
  .container-fluid .main__tt .section-small .accordion .accordion-body__text {
    font-size: 15.55556px;
  }
  .container-fluid .main__tt .section-large {
    display: none;
  }
  .container-fluid .main__tt .section_final {
    font-size: 23.33333px;
    padding: 1.75cm;
    margin: 0;
  }
}

@media (min-width: 578px) {
  .container-fluid .main__tt h1 {
    font-size: 46.66667px;
  }
  .container-fluid .main__tt h3 {
    font-size: 23.33333px;
  }
  .container-fluid .main__tt .section-small .accordion {
    padding: 0.8cm;
  }
  .container-fluid .main__tt .section-small .accordion .accordion-header__title .accordion-button {
    font-size: 20px;
  }
  .container-fluid .main__tt .section-small .accordion .accordion-body__text {
    font-size: 15.55556px;
  }
  .container-fluid .main__tt .section-large {
    display: none;
  }
  .container-fluid .main__tt .section_final {
    font-size: 28px;
    padding: 1cm;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .container-fluid .main__tt h1 {
    font-size: 53.84615px;
  }
  .container-fluid .main__tt h3 {
    font-size: 28px;
  }
  .container-fluid .main__tt .section-small .accordion .accordion-header__title .accordion-button {
    font-size: 23.33333px;
  }
  .container-fluid .main__tt .section-large {
    display: none;
  }
  .container-fluid .main__tt .section_final {
    font-size: 35px;
    padding: 1.5cm;
  }
}

@media (min-width: 1024px) {
  .container-fluid .main__tt h1 {
    font-size: 70px;
  }
  .container-fluid .main__tt h3 {
    font-size: 35px;
  }
  .container-fluid .main__tt .accordion {
    display: none;
  }
  .container-fluid .main__tt .section-large {
    display: -ms-grid;
    display: grid;
    padding: 0.5cm;
  }
  .container-fluid .main__tt .section-large h4 {
    font-size: 23.33333px;
  }
  .container-fluid .main__tt .section-large p {
    font-size: 20px;
  }
  .container-fluid .main__tt .section_final {
    font-size: 46.66667px;
    padding: 2cm;
  }
}

@media (min-width: 1440px) {
  .container-fluid .main__tt h1 {
    font-size: 105px;
  }
  .container-fluid .main__tt h3 {
    font-size: 70px;
    font-weight: 400;
  }
  .container-fluid .main__tt .accordion {
    display: none;
  }
  .container-fluid .main__tt .section-large {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (350px)[4];
        grid-template-rows: repeat(4, 350px);
  }
  .container-fluid .main__tt .section-large h4 {
    font-size: 28px;
  }
  .container-fluid .main__tt .section-large p {
    font-size: 23.33333px;
  }
  .container-fluid .main__tt .section_final {
    font-size: 46.66667px;
    padding: 1.5cm;
  }
}

.container-fluid .main__contacto h1 {
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
}

.container-fluid .main__contacto h3 {
  text-align: center;
  padding: 0.5cm;
  font-weight: 700;
}

.container-fluid .main__contacto form {
  font-weight: bold;
  color: #09365a;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (400px)[4];
      grid-template-rows: repeat(4, 400px);
      grid-template-areas: "cuadro1" "cuadro2" "cuadro3" "cuadro4";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container-fluid .main__contacto form .cuadro1 {
  margin: 1cm;
  padding: 2cm;
  text-align: center;
  font-size: 20px;
  border: 1px solid #09365a;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: cuadro1;
}

.container-fluid .main__contacto form .cuadro2 {
  margin: 1cm;
  padding: 2.5cm;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  color: #09365a;
  border: 1px solid #09365a;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cuadro2;
}

.container-fluid .main__contacto form .cuadro3 {
  margin: 1cm;
  padding: 1cm;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  color: #09365a;
  border: 1px solid #09365a;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: cuadro3;
}

.container-fluid .main__contacto form .cuadro4 {
  margin: 1cm;
  padding: 3cm;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  color: #09365a;
  border: 1px solid #09365a;
  display: inline;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: cuadro4;
}

.container-fluid .main__contacto form .cuadro4 button {
  color: #09365a;
  font-weight: bold;
  margin: 0.5cm;
}

@media (max-width: 577px) {
  .container-fluid .main__contacto h1 {
    font-size: 53.84615px;
    font-weight: bolder;
  }
  .container-fluid .main__contacto h3 {
    font-size: 28px;
    font-weight: 700;
  }
  .container-fluid .main__contacto form {
    margin: 0.5cm;
    -ms-grid-rows: (350px)[4];
        grid-template-rows: repeat(4, 350px);
  }
  .container-fluid .main__contacto form h3 {
    font-size: 20px;
    padding: 0;
    font-weight: bold;
  }
  .container-fluid .main__contacto form b {
    font-size: 14px;
  }
  .container-fluid .main__contacto form button {
    font-size: 14px;
    margin: 0;
    padding: 0.1cm;
  }
}

@media (min-width: 578px) {
  .container-fluid .main__contacto h1 {
    font-size: 53.84615px;
    font-weight: bolder;
  }
  .container-fluid .main__contacto h3 {
    font-size: 28px;
    font-weight: 700;
  }
  .container-fluid .main__contacto form {
    margin: 0.5cm;
    -ms-grid-rows: (350px)[4];
        grid-template-rows: repeat(4, 350px);
  }
  .container-fluid .main__contacto form h3 {
    font-size: 20px;
    padding: 0;
    font-weight: bold;
  }
  .container-fluid .main__contacto form b {
    font-size: 14px;
  }
  .container-fluid .main__contacto form button {
    font-size: 14px;
    margin: 0;
    padding: 0.1cm;
  }
}

@media (min-width: 768px) {
  .container-fluid .main__contacto h1 {
    font-size: 53.84615px;
    font-weight: bolder;
  }
  .container-fluid .main__contacto h3 {
    font-size: 28px;
    font-weight: 700;
  }
  .container-fluid .main__contacto form {
    margin: 0.5cm;
    -ms-grid-rows: (350px)[4];
        grid-template-rows: repeat(4, 350px);
  }
  .container-fluid .main__contacto form h3 {
    font-size: 23.33333px;
    padding: 0;
    font-weight: bold;
  }
  .container-fluid .main__contacto form b {
    font-size: 17.5px;
  }
}

@media (min-width: 1024px) {
  .container-fluid .main__contacto h1 {
    font-size: 70px;
    font-weight: bolder;
  }
  .container-fluid .main__contacto h3 {
    font-size: 35px;
    font-weight: 700;
  }
  .container-fluid .main__contacto form {
    margin: 0.5cm;
    -ms-grid-rows: (350px)[4];
        grid-template-rows: repeat(4, 350px);
  }
  .container-fluid .main__contacto form h3 {
    font-size: 28px;
    padding: 0;
    font-weight: bold;
  }
  .container-fluid .main__contacto form b {
    font-size: 23.33333px;
  }
}

@media (min-width: 1440px) {
  .container-fluid .main__contacto h1 {
    font-size: 105px;
    font-weight: bolder;
  }
  .container-fluid .main__contacto h3 {
    font-size: 58.33333px;
    font-weight: 700;
  }
  .container-fluid .main__contacto form {
    -ms-grid-rows: (400px)[4];
        grid-template-rows: repeat(4, 400px);
  }
  .container-fluid .main__contacto form h3 {
    font-size: 35px;
    padding: 0;
    font-weight: bold;
  }
  .container-fluid .main__contacto form b {
    font-size: 23.33333px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  color: #09365a;
}

body {
  background-image: url(../Imagenes/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.container-fluid nav {
  padding-left: 1cm;
  padding-right: 1cm;
  width: 100%;
}

.container-fluid nav a #logo {
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes logo {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes logo {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.container-fluid .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container-fluid .navbar-collapse .nav-link {
  color: #09365a;
  font-style: oblique;
  font-weight: bolder;
  font-size: 20px;
}

.container-fluid .navbar-collapse .nav-link .dropdown-menu {
  background-image: url(./Imagenes/fondo2.jpg);
  background-position: top left;
}

.container-fluid .navbar-collapse .container-fluid__footer {
  padding-top: 0.5cm;
  padding-bottom: 0.5cm;
}

.container-fluid .navbar-collapse .container-fluid__footer .nav-item a img {
  opacity: 50%;
  margin: 0.2cm;
}

.container-fluid .navbar-collapse .container-fluid__footer .nav-item a img:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  opacity: 90%;
}

@media (max-width: 577px) {
  .container-fluid header #logo {
    height: 40px;
    width: 60px;
  }
  .container-fluid header .navbar-toggler-icon {
    height: 20px;
    width: 20px;
  }
  .container-fluid header .navbar-nav .nav-item .nav-link {
    font-size: 15px;
  }
  .container-fluid header .navbar-nav .nav-item .nav-link .dropdown-menu {
    background-image: url(./Imagenes/fondo2.jpg);
    background-position: top left;
  }
  .container-fluid header .navbar-nav .nav-item .nav-link .dropdown-menu .dropdown-item {
    font-size: 15px;
  }
  .container-fluid header .container-fluid__footer img {
    opacity: 50%;
    padding: 0;
    margin: 0;
    height: 35px;
    width: 35px;
  }
}

@media (max-width: 577px) and (min-width: 578px) {
  .container-fluid header #logo {
    height: 50px;
    width: 70px;
  }
  .container-fluid header .navbar-nav .nav-item .nav-link {
    font-size: 20px;
  }
  .container-fluid header .navbar-nav .nav-item .dropdown-menu {
    background-image: url(./Imagenes/fondo2.jpg);
    background-position: top left;
  }
  .container-fluid header .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 20px;
    font-weight: 700;
    color: #09365a;
  }
  .container-fluid .container-fluid__footer img {
    opacity: 50%;
    margin: 0.1cm;
    height: 45px;
    width: 45px;
  }
}

@media (max-width: 577px) and (min-width: 768px) {
  .container-fluid header #logo {
    height: 50px;
    width: 70px;
  }
  .container-fluid header .navbar-nav .nav-item .nav-link {
    font-size: 20px;
  }
  .container-fluid header .navbar-nav .nav-item .dropdown-menu {
    background-image: url(./Imagenes/fondo2.jpg);
    background-position: top left;
  }
  .container-fluid header .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 20px;
  }
  .container-fluid .container-fluid__footer img {
    opacity: 50%;
    margin: 0.1cm;
    height: 55px;
    width: 55px;
  }
}

@media (max-width: 577px) and (min-width: 1024px) {
  .container-fluid header #logo {
    height: 60px;
    width: 80px;
  }
  .container-fluid header .navbar-nav .nav-item .nav-link {
    font-size: 20px;
  }
  .container-fluid header .navbar-nav .nav-item .dropdown-menu {
    background-image: url(./Imagenes/fondo2.jpg);
    background-position: top left;
  }
  .container-fluid header .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 20px;
  }
  .container-fluid .container-fluid__footer img {
    opacity: 50%;
    margin: 0.1cm;
    height: 65px;
    width: 65px;
  }
}

@media (max-width: 577px) and (min-width: 1440px) {
  .container-fluid header #logo {
    height: 60px;
    width: 80px;
  }
  .container-fluid header .navbar-nav .nav-item .nav-link {
    font-size: 25px;
  }
  .container-fluid header .navbar-nav .nav-item .dropdown-menu {
    background-image: url(./Imagenes/fondo2.jpg);
    background-position: top left;
  }
  .container-fluid header .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 25px;
  }
  .container-fluid .container-fluid__footer img {
    opacity: 50%;
    margin: 0.3cm;
    height: 70px;
    width: 70px;
  }
}
