@use "index";
@use "nosotros";
@use "viajes";
@use "tipstricks";
@use "contacto";
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  color: #09365a;
}

body {
  background-image: url(../Imagenes/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.container-fluid nav {
  padding-left: 1cm;
  padding-right: 1cm;
  width: 100%;
}

.container-fluid nav a #logo {
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes logo {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes logo {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.container-fluid .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container-fluid .navbar-collapse .nav-link {
  color: #09365a;
  font-style: oblique;
  font-weight: bolder;
  font-size: 20px;
}

.container-fluid .container-fluid__footer {
  border-top: 1px solid #09365a;
  padding-top: 0.5cm;
  padding-bottom: 0.5cm;
}

.container-fluid .container-fluid__footer .nav-link {
  color: #09365a;
}

.container-fluid .container-fluid__footer .nav-link img {
  opacity: 50%;
  margin: 0.2cm;
}

.container-fluid .container-fluid__footer .nav-link img:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  opacity: 90%;
}

@media (max-width: 577px) {
  header #logo {
    height: 40px;
    width: 60px;
  }
  header .navbar-toggler-icon {
    height: 20px;
    width: 20px;
  }
  header .navbar-nav .nav-item .nav-link {
    font-size: 15px;
  }
  header .navbar-nav .nav-item .dropdown-item {
    font-size: 15px;
  }
  .container-fluid__footer img {
    opacity: 50%;
    padding: 0;
    margin: 0;
    height: 35px;
    width: 35px;
  }
}

@media (min-width: 578px) {
  header #logo {
    height: 50px;
    width: 70px;
  }
  header .navbar-nav .nav-item .nav-link {
    font-size: 20px;
  }
  header .navbar-nav .nav-item .dropdown-menu {
    background-image: url(./Imagenes/fondo2.jpg);
    background-position: top left;
  }
  header .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 20px;
    font-weight: 600;
    color: #09365a;
  }
  .container-fluid__footer img {
    opacity: 50%;
    margin: 0.1cm;
    height: 45px;
    width: 45px;
  }
}

@media (min-width: 768px) {
  header #logo {
    height: 50px;
    width: 70px;
  }
  header .navbar-nav .nav-item .nav-link {
    font-size: 20px;
  }
  header .navbar-nav .nav-item .dropdown-item {
    font-size: 20px;
  }
  .container-fluid__footer img {
    opacity: 50%;
    margin: 0.1cm;
    height: 55px;
    width: 55px;
  }
}

@media (min-width: 1024px) {
  header #logo {
    height: 60px;
    width: 80px;
  }
  header .navbar-nav .nav-item .nav-link {
    font-size: 20px;
  }
  header .navbar-nav .nav-item .dropdown-item {
    font-size: 20px;
  }
  .container-fluid__footer img {
    opacity: 50%;
    margin: 0.1cm;
    height: 65px;
    width: 65px;
  }
}

@media (min-width: 1440px) {
  header #logo {
    height: 60px;
    width: 80px;
  }
  header .navbar-nav .nav-item .nav-link {
    font-size: 25px;
  }
  header .navbar-nav .nav-item .dropdown-item {
    font-size: 25px;
  }
  .container-fluid__footer img {
    opacity: 50%;
    margin: 0.3cm;
    height: 70px;
    width: 70px;
  }
}
